Repository Scullworks/demo: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
    "*.{ts,tsx}": "bash -c tsc --skipLibCheck --noEmit",
    "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
    "*.{json,md,html,css,scss}": "prettier --write"
}

style(header): add mobile styles
  src/components/header/Header.scss
Due: prettier --write

style(header): add tablet styles
  src/components/header/Header.scss
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

style: display benefits text on smaller devices
  src/components/header/Header.scss
  src/components/header/Header.tsx
  src/styles/abstracts/_colors.scss
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

style: add new breakpoints and adjust media query mixins
  src/styles/abstracts/_breakpoints.scss
  src/styles/abstracts/_mixins.scss
  src/styles/base/_typography.scss
Due: prettier --write

feat: install zustand and create store for animations
  package.json
  src/hooks/store/useAnimationStore.ts
  yarn.lock
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

style: add styles for laptop/desktop and benefits info
  src/components/header/Header.scss
Due: prettier --write

style(header): implement full responsiveness
  src/components/header/Header.scss
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat(header): add benefits info underneath image
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

style: update various stylesheets
  src/styles/abstracts/_colors.scss
  src/styles/abstracts/_fonts.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_base.scss
  src/styles/base/_typography.scss
  src/styles/layout/_button.scss
Due: prettier --write

refactor(header): extract animations and keep track of benefits
  src/components/header/Header.animations.ts
  src/components/header/Header.tsx
  src/styles/base/_typography.scss
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor(header): update styles and images assets
  src/assets/header/background.png
  src/assets/header/main.png
  src/components/header/Header.scss
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

chore: update .eslintrc
  .eslintrc.json
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor(header): change semantic tag
  src/components/header/Header.scss
  src/components/header/Header.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

chore(about): add image assets
  src/assets/about/athletes.png
  src/assets/about/clubs.png
  src/assets/about/coaches.png
Due: none

chore(about): add content
  src/utils/about-content.json
Due: prettier --write

feat(about): add animations
  src/components/about/About.animations.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor(about): update animations and styles
  src/components/about/About.animations.ts
  src/components/about/About.scss
  src/components/about/About.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat: create about component
  src/components/about/About.tsx
  src/components/index.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

build: install dependencies
  package.json
  yarn.lock
Due: prettier --write

style(about): implement responsive styles
  src/components/about/About.scss
  src/styles/main.scss
Due: prettier --write

style: update various stylesheets
  src/components/about/About.scss
  src/components/header/Header.scss
  src/styles/abstracts/_colors.scss
  src/styles/base/_typography.scss
  src/styles/layout/_button.scss
Due: prettier --write

style: update typography stylesheets
  src/styles/base/_typography.scss
Due: prettier --write

style: update various stylesheets
  src/components/header/Header.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_base.scss
  src/styles/layout/_button.scss
Due: prettier --write

refactor(about): update content
  src/utils/about-content.json
Due: prettier --write

style: update various stylesheets
  src/components/about/About.scss
  src/components/contact-us/ContactUs.tsx
  src/components/header/Header.scss
  src/styles/base/_base.scss
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor: utils directory
  src/components/about/About.animations.ts
  src/components/about/About.tsx
  src/components/header/Header.tsx
  src/utils/content/about.json
  src/utils/content/header.json
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat(contact-us): create validation schema
  src/utils/validations/contact-us.schema.ts
  src/utils/validations/index.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor(home): update animations
  src/components/about/About.animations.ts
  src/components/contact-us/ContactUs.animations.ts
  src/components/header/Header.animations.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

chore: update configuration files
  .eslintrc.json
  .lintstagedrc.json
  tsconfig.json
Due: prettier --write

feat: create contact us component
  src/components/contact-us/ContactUs.animations.ts
  src/components/contact-us/ContactUs.scss
  src/components/contact-us/ContactUs.tsx
  src/components/index.ts
  src/styles/main.scss
  src/utils/content/contact-us.json
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

build: install react-scroll and mui icons
  package.json
  yarn.lock
Due: prettier --write

refactor: update mui theme
  src/utils/mui/theme.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

fix(navbar): close transition for responsive menu
  src/components/navbar/Navbar.scss
  src/components/navbar/Navbar.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor: add type prop to mui textfield
  src/components/hooked-text-field/HookedTextField.tsx
  src/components/hooked-text-field/MuiTextField.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

refactor(home): update various things across components
  src/components/about/About.tsx
  src/components/contact-us/ContactUs.tsx
  src/components/header/Header.tsx
  src/pages/_app.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

build: install dependencies and set up firebase
  package.json
  src/services/firebase/setup.ts
  yarn.lock
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat: create animations for page transitions
  src/pages/_app.tsx
  src/utils/animations/pages.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat: create auth state store
  src/hooks/store/useAuthStore.ts
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

feat: create custom input component
  src/components/custom-input/Input.scss
  src/components/custom-input/Input.tsx
Due: bash -c tsc --skipLibCheck --noEmit, prettier --write, eslint --fix, eslint

style: update various stylesheets due to navbar component
  src/components/about/About.scss
  src/components/header/Header.scss
  src/styles/abstracts/_colors.scss
  src/styles/base/_base.scss
Due: prettier --write
